* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: roboto, sans-serif;
}

:root {
  --blue-900: #0f1035;
  --blue-700: #23335e;
  --blue-500: #365486;
  --blue-300: #7fc7d9;
  --blue-100: #dcf2f1;
  --gray-100: #f2f2f2;
}
